.widget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.widget {
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  width: 350px;
  height: 450px;
  box-shadow: white 0 0 5px;
}
