.banner {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  /* background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2971&q=80"); */
  height: 12rem;
  width: 100%;
}

#banner-logout {
  position: relative;
  align-self: end;
  margin-right: 1rem;
  margin-top: 1rem;
  text-shadow: rgb(239, 244, 249) 0 0 5px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: white;
  z-index: 4;
}

#banner-logout:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in;
  text-shadow: white 0 0 10px;
  font-weight: bold;
  cursor: pointer;
}

#banner-logout:not(:hover) {
  transition: 0.1s ease-out;
}

#banner-title {
  position: absolute;
  top: 3.5rem;
  z-index: 4;
  font-size: 3.5rem;
  text-shadow: white 0 0 8px;
}

#banner-logo {
  position: relative;
  z-index: 4;
  margin-bottom: 1rem;
}

/* ANIMATED BACKGROUND */

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 12rem;
  width: 100%;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
  height: 12rem;
}

.twinkling {
  width: 10000px;
  height: 12rem;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 12rem;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
#moon-img {
  height: 6rem;
  width: auto;
  position: absolute;
  z-index: 3;
  left: 2rem;
  top: 1.5rem;
  filter: drop-shadow(0 0 6px #acdbf4);
}
