.banner {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 26, 81);
  color: white;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2971&q=80");
}

#banner-logout {
  align-self: end;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  text-shadow: rgb(239, 244, 249) 0 0 5px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
  color: white;
}

#banner-logout:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in;
  text-shadow: white 0 0 8px;
  cursor: pointer;
}

#banner-logout:not(:hover) {
  transition: 0.15s ease-out;
}

#banner-title {
  font-size: 4rem;
}

#banner-logo {
  margin-bottom: 1rem;
}
