.navbar {
  display: flex;
  flex-direction: nowrap;
  justify-content: space-around;
  background-color: black;
  box-shadow: 0px -15px 25px -5px black, 0px 0px 0px 0px black;
  height: 3.5rem;
  z-index: 4;
  position: relative;
  /* filter: blur(5px); */
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
}

.navbar-item {
  color: #faf9f6;
  font-size: 1.5rem;
  align-self: center;
}

.link-active {
  text-shadow: white 0 0 15px;
  font-weight: bold;
  transform: scale(1.08);
}

button {
  --transition: 0.25s;
  --spark: 0.3s;
  --bg: black;
  background: var(--bg);
  padding: 6px 18px;
  display: grid;
  border: none;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 1000px 0 0 #0e1322 inset; */
  transition: box-shadow var(--transition), background var(--transition);
  transform: var(--transition);
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 1.5rem;
  /* text-shadow: rgb(239, 244, 249) 0 0 5px; */
}

button:hover .backdrop {
  background: black;
}

button:hover {
  transform: scale(1.08);
  transition: 0.15s ease-in;
  text-shadow: white 0 0 15px;
  cursor: pointer;
}
button:not(:hover) {
  transition: 0.15s ease-out;
}

button:hover .spark {
  animation: flip calc(var(--spark) * 2) 1 steps(2, end);
  /* animation-delay: 0.1s; */
}

button:hover .spark:before {
  animation: rotate var(--spark) linear 2 both;
}

.spark {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(rgb(255, 255, 255), transparent 50%);
  animation: infinite steps(2, end);
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark:before {
  content: "";
  position: absolute;
  width: 150%;
  aspect-ratio: 1;
  inset: 0 auto auto 50%;
  z-index: -1;
  translate: -50% -15%;
  rotate: 0;
  transform: rotate(-90deg);
  opacity: 1;
  background: conic-gradient(
    from 0deg,
    transparent 0 315deg,
    rgb(255, 255, 255) 360deg
  );
  transition: opacity var(--transition);
}

.backdrop {
  position: absolute;
  inset: 2px;
  background: black;
  border-radius: 9999px;
  transition: background var(--transition) opacity var(--transition);
}

@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

.text {
  z-index: 1;
  color: rgb(239, 244, 249);
}

/* Long shadow WIP: */
/* text-shadow: rgb(237, 238, 238) -1px 1px, rgb(237, 238, 238) -2px 2px,
    rgb(237, 238, 238) -3px 3px 1px, rgb(237, 238, 238) -4px 4px 1px,
    rgb(237, 238, 238) -5px 5px 1px, rgb(237, 238, 238) -6px 6px 1px,
    rgb(237, 238, 238) -7px 7px 2px, rgb(237, 238, 238) -8px 8px 2px,
    rgb(237, 238, 238) -9px 9px 2px, rgb(237, 238, 238) -10px 10px 2px,
    rgb(237, 238, 238) -11px 11px 3px, rgb(237, 238, 238) -12px 12px 3px,
    rgb(237, 238, 238) -13px 13px 3px, rgb(237, 238, 238) -14px 14px 3px,
    rgb(237, 238, 238) -15px 15px 4px, rgb(237, 238, 238) -16px 16px 4px,
    rgb(237, 238, 238) -17px 17px 4px, rgb(237, 238, 238) -18px 18px 4px,
    rgb(237, 238, 238) -19px 19px 5px, rgb(237, 238, 238) -20px 20px 5px,
    rgb(237, 238, 238) -21px 21px 5px, rgb(237, 238, 238) -22px 22px 5px,
    rgb(237, 238, 238) -23px 23px 6px, rgb(237, 238, 238) -24px 24px 6px,
    rgb(237, 238, 238) -25px 25px 6px, rgb(237, 238, 238) -26px 26px 6px,
    rgb(237, 238, 238) -27px 27px 7px, rgb(237, 238, 238) -28px 28px 7px; */

/* background-color: #090d16; */
/* height: 150px; */
/* width: 150px; */
/* font-size: 75px; */
/* line-height: 150px; */
