.location-card {
  display: flex;
  flex-direction: column;
  width: 58rem;
  border: 2px solid black;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.location-card-body {
  display: flex;
}

.location-card-left {
  width: 33%;
}

.location-card-center {
  width: 33%;
}

.location-card-right {
  width: 33%;
}

.location-card-footer {
  margin-left: auto;
  display: inline;
}
