.locations-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations-header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-top: 2rem;
  justify-content: space-around;
  width: 45rem;
}

.states-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}
.radius-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

.locations-list-container {
  width: 50rem;
  /* border: 2px solid black; */
  border-radius: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2rem; */
}

.locations-card {
  width: 49rem;
  border: 1px solid #faf9f6;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  box-shadow: rgb(170, 213, 246) 0 0 10px;
}

.location-card-left {
  flex-basis: 20%;
  /* width: 14rem; */
  /* height: auto; */
  /* object-fit: contain; */
}
.location-card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  font-size: 1.4rem;
  text-wrap: wrap;
}
.location-card-right {
  flex-basis: 20%;
  text-align: center;
}

.location-image {
  width: 12rem;
  height: auto;
  /* object-fit: contain;
  overflow: hidden;
  align-self: center; */
}

.location-details-image {
  width: 25rem;
  height: auto;
  /* object-fit: contain;
    overflow: hidden;
    align-self: center; */
}

.address {
  font-size: 1rem;
}

.add-btn-container {
  margin-bottom: 2rem;
}

.user-btns {
}

.add-loc-btn {
  background: #34495e;
  font-family: "Space Mono";
  border: none;
  color: rgb(246, 252, 255);
  border-radius: 1rem;
  box-shadow: rgb(170, 213, 246) 0 0 10px;
  font-size: 1.4rem;
  padding: 5px 0px;
  width: 17rem;
  align-self: center;
}

.add-loc-btn:hover {
  transform: scale(1.03);
  transition: 0.15s ease-in;
  cursor: pointer;
  text-shadow: white 0 0 15px;
}

.add-loc-btn:not(:hover) {
  transition: 0.15s ease-out;
}

.favorites-title {
  margin-top: 0;
}
/* .btn {
  transform: scale(1);
} */
